USE [SecureCore]
GO
/****** Object:  Table [dbo].[Agencies]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agencies](
	[idAgency] [smallint] IDENTITY(1,1) NOT NULL,
	[CodeAgency] [nvarchar](12) NULL,
	[DescAgency] [nvarchar](50) NULL,
 CONSTRAINT [PK_Agencies] PRIMARY KEY CLUSTERED 
(
	[idAgency] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DefinedRoutes]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DefinedRoutes](
	[idDefinedRoute] [int] IDENTITY(1,1) NOT NULL,
	[idPlanetOri] [int] NULL,
	[idPlanetDest] [int] NULL,
	[idRoute] [int] NULL,
	[RouteMap] [nvarchar](200) NULL,
 CONSTRAINT [PK_DefinedRoutes] PRIMARY KEY CLUSTERED 
(
	[idDefinedRoute] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryData]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryData](
	[idDeliveryData] [int] IDENTITY(1,1) NOT NULL,
	[CodeDelivery] [nvarchar](12) NULL,
	[DeliveryDate] [smalldatetime] NULL,
	[idPlanet] [int] NOT NULL,
	[idSpaceShip] [int] NOT NULL,
 CONSTRAINT [PK_DeliveryData] PRIMARY KEY CLUSTERED 
(
	[idDeliveryData] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factories]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factories](
	[idFactory] [smallint] IDENTITY(1,1) NOT NULL,
	[codeFactory] [nvarchar](12) NULL,
	[DescFactory] [nvarchar](50) NULL,
 CONSTRAINT [PK_Factories] PRIMARY KEY CLUSTERED 
(
	[idFactory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Filiations]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filiations](
	[idFiliation] [int] IDENTITY(1,1) NOT NULL,
	[CodeFiliation] [nvarchar](12) NULL,
	[DescFiliations] [nvarchar](25) NULL,
 CONSTRAINT [PK_Filiations] PRIMARY KEY CLUSTERED 
(
	[idFiliation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InnerEncryption]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InnerEncryption](
	[idInnerEncryption] [int] IDENTITY(1,1) NOT NULL,
	[idPlanet] [int] NULL,
	[ValidationCode] [nvarchar](12) NULL,
 CONSTRAINT [PK_InnerEncryption] PRIMARY KEY CLUSTERED 
(
	[idInnerEncryption] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InnerEncryptionData]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InnerEncryptionData](
	[idInnerEncryptionData] [int] IDENTITY(1,1) NOT NULL,
	[IdInnerEncryption] [int] NULL,
	[Word] [nvarchar](1) NULL,
	[Numbers] [nvarchar](3) NULL,
 CONSTRAINT [PK_InnerEncryptionData] PRIMARY KEY CLUSTERED 
(
	[idInnerEncryptionData] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MilitaryCamps]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MilitaryCamps](
	[idMilitaryCamp] [int] IDENTITY(1,1) NOT NULL,
	[CodeCamp] [nvarchar](12) NULL,
	[DescCamp] [nvarchar](200) NULL,
	[idPlanet] [int] NULL,
 CONSTRAINT [PK_MilitaryCamps] PRIMARY KEY CLUSTERED 
(
	[idMilitaryCamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperationalAreas]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperationalAreas](
	[idOperationalArea] [smallint] IDENTITY(1,1) NOT NULL,
	[CodeOperationalArea] [nvarchar](12) NULL,
	[DescOperationalArea] [nvarchar](50) NULL,
 CONSTRAINT [PK_OperationalAreas] PRIMARY KEY CLUSTERED 
(
	[idOperationalArea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderInfo]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderInfo](
	[idOrderInfo] [smallint] IDENTITY(1,1) NOT NULL,
	[idOrder] [smallint] NOT NULL,
	[idAgency] [smallint] NOT NULL,
	[idOperationalArea] [smallint] NOT NULL,
 CONSTRAINT [PK_OrderInfo] PRIMARY KEY CLUSTERED 
(
	[idOrderInfo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[idOrder] [smallint] IDENTITY(1,1) NOT NULL,
	[codeOrder] [nvarchar](12) NULL,
	[dateOrder] [smalldatetime] NULL,
	[IdPriority] [smallint] NOT NULL,
	[IdFactory] [smallint] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[idOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdersDetail]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdersDetail](
	[idOrderDetail] [smallint] IDENTITY(1,1) NOT NULL,
	[idOrder] [smallint] NULL,
	[idPlanet] [int] NULL,
	[idReference] [smallint] NULL,
	[Quantity] [smallint] NULL,
	[DeliveryDate] [smalldatetime] NULL,
 CONSTRAINT [PK_OrdersDetail] PRIMARY KEY CLUSTERED 
(
	[idOrderDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanetKeys]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanetKeys](
	[idKey] [int] IDENTITY(1,1) NOT NULL,
	[idPlanet] [int] NOT NULL,
	[XMLKey] [xml] NULL,
 CONSTRAINT [PK_PlanetKeys] PRIMARY KEY CLUSTERED 
(
	[idKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanetRoutes]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanetRoutes](
	[idPlanetRoute] [int] NOT NULL,
	[idPlanet] [int] NULL,
	[idRoute] [int] NULL,
 CONSTRAINT [PK_PlanetRoutes] PRIMARY KEY CLUSTERED 
(
	[idPlanetRoute] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Planets]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planets](
	[idPlanet] [int] IDENTITY(1,1) NOT NULL,
	[CodePlanet] [nvarchar](12) NULL,
	[DescPlanet] [nvarchar](50) NULL,
	[idSector] [int] NULL,
	[long] [nvarchar](12) NULL,
	[lat] [nvarchar](12) NULL,
	[parsecs] [nvarchar](12) NULL,
	[idNatives] [int] NULL,
	[idFiliation] [int] NULL,
	[PlanetPicture] [nvarchar](200) NULL,
	[IPPlanet] [nvarchar](15) NULL,
	[PortPlanet] [nvarchar](4) NULL,
	[PortPlanet1] [nvarchar](4) NULL,
 CONSTRAINT [PK_Planets] PRIMARY KEY CLUSTERED 
(
	[idPlanet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Priority]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Priority](
	[idPriority] [smallint] IDENTITY(1,1) NOT NULL,
	[CodePriority] [nvarchar](12) NULL,
	[DescPriority] [nvarchar](50) NULL,
 CONSTRAINT [PK_Priority] PRIMARY KEY CLUSTERED 
(
	[idPriority] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[References]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[References](
	[idReference] [smallint] IDENTITY(1,1) NOT NULL,
	[codeReference] [nvarchar](12) NOT NULL,
	[descReference] [nvarchar](200) NULL,
	[Photo] [nvarchar](200) NULL,
	[VideoExplode] [nvarchar](200) NULL,
 CONSTRAINT [PK_References] PRIMARY KEY CLUSTERED 
(
	[idReference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[idRegion] [int] IDENTITY(1,1) NOT NULL,
	[CodeRegion] [nvarchar](12) NULL,
	[DescRegion] [nvarchar](50) NULL,
	[Remarks] [nvarchar](2000) NULL,
 CONSTRAINT [PK_Regions] PRIMARY KEY CLUSTERED 
(
	[idRegion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Routes]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Routes](
	[idRoute] [int] IDENTITY(1,1) NOT NULL,
	[CodeRoute] [nvarchar](12) NULL,
	[DescRoute] [nvarchar](50) NULL,
	[idPlanetOr] [int] NULL,
	[idPlanetDest] [int] NULL,
	[idRouteType] [int] NULL,
 CONSTRAINT [PK_Routes] PRIMARY KEY CLUSTERED 
(
	[idRoute] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RouteTypes]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RouteTypes](
	[idRouteType] [int] IDENTITY(1,1) NOT NULL,
	[CodeRouteType] [nvarchar](12) NULL,
	[DescRouteType] [nvarchar](50) NULL,
	[Remarks] [nvarchar](250) NULL,
 CONSTRAINT [PK_RouteTypes] PRIMARY KEY CLUSTERED 
(
	[idRouteType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sectors]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sectors](
	[idSector] [int] IDENTITY(1,1) NOT NULL,
	[CodeSector] [nvarchar](12) NULL,
	[DescSector] [nvarchar](50) NULL,
	[Remarks] [nvarchar](250) NULL,
	[idRegion] [int] NULL,
 CONSTRAINT [PK_Sectors] PRIMARY KEY CLUSTERED 
(
	[idSector] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpaceShipCategories]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpaceShipCategories](
	[idSpaceShipCategory] [int] IDENTITY(1,1) NOT NULL,
	[CodeSpaceShipCategory] [nvarchar](12) NULL,
	[DescSpaceShipCategory] [nvarchar](50) NULL,
 CONSTRAINT [PK_SpaceShipCategories] PRIMARY KEY CLUSTERED 
(
	[idSpaceShipCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpaceShips]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpaceShips](
	[idSpaceShip] [int] IDENTITY(1,1) NOT NULL,
	[idSpaceShipType] [int] NULL,
	[CodeSpaceShip] [nvarchar](12) NULL,
	[IPSpaceShip] [nvarchar](15) NULL,
	[PortSpaceShip] [nvarchar](4) NULL,
	[PortSpaceShip1] [nvarchar](4) NULL,
 CONSTRAINT [PK_SpaceShips] PRIMARY KEY CLUSTERED 
(
	[idSpaceShip] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpaceShipTypes]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpaceShipTypes](
	[idSpaceShipType] [int] IDENTITY(1,1) NOT NULL,
	[CodeSpaceShipType] [nvarchar](12) NULL,
	[DescSpaceShipType] [nvarchar](200) NULL,
	[idFiliation] [int] NULL,
	[idSpaceShipCategory] [int] NULL,
 CONSTRAINT [PK_SpaceShipTypes] PRIMARY KEY CLUSTERED 
(
	[idSpaceShipType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Species]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Species](
	[idSpecie] [int] IDENTITY(1,1) NOT NULL,
	[CodeSpecie] [nvarchar](12) NULL,
	[DescSpecie] [nvarchar](50) NULL,
 CONSTRAINT [PK_Species] PRIMARY KEY CLUSTERED 
(
	[idSpecie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCategories]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCategories](
	[idUserCategory] [int] IDENTITY(1,1) NOT NULL,
	[CodeCategory] [nvarchar](12) NULL,
	[DescCategory] [nvarchar](50) NULL,
	[AccessLevel] [int] NULL,
 CONSTRAINT [PK_UserCategories] PRIMARY KEY CLUSTERED 
(
	[idUserCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserOptions]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserOptions](
	[idUser] [nchar](10) NULL,
	[minLevel] [nchar](10) NULL,
	[Descripcio] [varchar](max) NULL,
	[Classe] [varchar](max) NULL,
	[Formulari] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRanks]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRanks](
	[idUserRank] [int] IDENTITY(1,1) NOT NULL,
	[CodeRank] [nvarchar](12) NULL,
	[DescRank] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserRanks] PRIMARY KEY CLUSTERED 
(
	[idUserRank] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14/12/2021 17:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[idUser] [int] IDENTITY(1,1) NOT NULL,
	[CodeUser] [nvarchar](12) NULL,
	[UserName] [nvarchar](100) NULL,
	[Login] [nvarchar](12) NULL,
	[Password] [nvarchar](12) NULL,
	[idUserRank] [int] NULL,
	[idUserCategory] [int] NULL,
	[Photo] [nvarchar](50) NULL,
	[idPlanet] [int] NULL,
	[idSpecie] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Agencies] ON 

INSERT [dbo].[Agencies] ([idAgency], [CodeAgency], [DescAgency]) VALUES (1, N'37EA', N'High Command of Strategic
Operations')
INSERT [dbo].[Agencies] ([idAgency], [CodeAgency], [DescAgency]) VALUES (2, N'40A', N'High Jedi Council')
INSERT [dbo].[Agencies] ([idAgency], [CodeAgency], [DescAgency]) VALUES (3, N'FOSB', N'First Order Security Bureau')
SET IDENTITY_INSERT [dbo].[Agencies] OFF
GO
SET IDENTITY_INSERT [dbo].[Factories] ON 

INSERT [dbo].[Factories] ([idFactory], [codeFactory], [DescFactory]) VALUES (1, N'NABOSOUTXW02', N'X-Wings Factory Naboo South')
INSERT [dbo].[Factories] ([idFactory], [codeFactory], [DescFactory]) VALUES (2, N'ENDONORTAW01', N'A-Wings Factory Endor North')
INSERT [dbo].[Factories] ([idFactory], [codeFactory], [DescFactory]) VALUES (3, N'MUSTNORTTAF1', N'Advanced Tie-Fighter Factory Mustafar North')
SET IDENTITY_INSERT [dbo].[Factories] OFF
GO
SET IDENTITY_INSERT [dbo].[Filiations] ON 

INSERT [dbo].[Filiations] ([idFiliation], [CodeFiliation], [DescFiliations]) VALUES (1, N'REPU', N'Republican')
INSERT [dbo].[Filiations] ([idFiliation], [CodeFiliation], [DescFiliations]) VALUES (2, N'FIOR', N'First Order')
INSERT [dbo].[Filiations] ([idFiliation], [CodeFiliation], [DescFiliations]) VALUES (3, N'NEUT', N'Neutral')
SET IDENTITY_INSERT [dbo].[Filiations] OFF
GO
SET IDENTITY_INSERT [dbo].[OperationalAreas] ON 

INSERT [dbo].[OperationalAreas] ([idOperationalArea], [CodeOperationalArea], [DescOperationalArea]) VALUES (1, N'OUTER', N'Outer Ring')
INSERT [dbo].[OperationalAreas] ([idOperationalArea], [CodeOperationalArea], [DescOperationalArea]) VALUES (2, N'INNER', N'Inner Ring')
INSERT [dbo].[OperationalAreas] ([idOperationalArea], [CodeOperationalArea], [DescOperationalArea]) VALUES (3, N'UNKNO', N'Unknown')
SET IDENTITY_INSERT [dbo].[OperationalAreas] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderInfo] ON 

INSERT [dbo].[OrderInfo] ([idOrderInfo], [idOrder], [idAgency], [idOperationalArea]) VALUES (2, 1, 1, 1)
INSERT [dbo].[OrderInfo] ([idOrderInfo], [idOrder], [idAgency], [idOperationalArea]) VALUES (3, 2, 1, 1)
INSERT [dbo].[OrderInfo] ([idOrderInfo], [idOrder], [idAgency], [idOperationalArea]) VALUES (4, 3, 1, 1)
SET IDENTITY_INSERT [dbo].[OrderInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([idOrder], [codeOrder], [dateOrder], [IdPriority], [IdFactory]) VALUES (1, N'HCSO123456NA', CAST(N'2020-05-12T00:00:00' AS SmallDateTime), 1, 1)
INSERT [dbo].[Orders] ([idOrder], [codeOrder], [dateOrder], [IdPriority], [IdFactory]) VALUES (2, N'HCSO123456TA', CAST(N'2010-01-01T00:00:00' AS SmallDateTime), 2, 2)
INSERT [dbo].[Orders] ([idOrder], [codeOrder], [dateOrder], [IdPriority], [IdFactory]) VALUES (3, N'FOSB123456NA', CAST(N'2010-01-01T00:00:00' AS SmallDateTime), 1, 3)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[OrdersDetail] ON 

INSERT [dbo].[OrdersDetail] ([idOrderDetail], [idOrder], [idPlanet], [idReference], [Quantity], [DeliveryDate]) VALUES (1, 1, 1, 1, 12, CAST(N'2020-11-12T00:00:00' AS SmallDateTime))
INSERT [dbo].[OrdersDetail] ([idOrderDetail], [idOrder], [idPlanet], [idReference], [Quantity], [DeliveryDate]) VALUES (2, 1, 2, 1, 23, CAST(N'2020-11-12T00:00:00' AS SmallDateTime))
INSERT [dbo].[OrdersDetail] ([idOrderDetail], [idOrder], [idPlanet], [idReference], [Quantity], [DeliveryDate]) VALUES (3, 1, 3, 3, 35, CAST(N'2020-11-22T00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[OrdersDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[PlanetKeys] ON 

INSERT [dbo].[PlanetKeys] ([idKey], [idPlanet], [XMLKey]) VALUES (1, 2, N'<RSAKeyValue><Modulus>1zAsJ3ENv8+RyZtJE4QEFwQv+a+S4ubpozDLUdc9yaNadokMZXNMlf3UklE0sEzr+t8RvO/PdOKxnZoybIBDHhn4lLtZbxaQFiF7WOERJ3BevCqMnteNENkyShmO8qXuYM0bHzhFuPNn1xvTP2meWx9VyQHzOD46lR8bOLdAacU=</Modulus><Exponent>AQAB</Exponent></RSAKeyValue>')
INSERT [dbo].[PlanetKeys] ([idKey], [idPlanet], [XMLKey]) VALUES (2, 3, N'<RSAKeyValue><Modulus>sOl/KsyXIGIFIl5uwCUmyO2wz3JxfodJ1R6be7s/UUnHb+vMRGoYJV/ITL1NYmRCXNPdnIuWNgKMohFXtUYGzMvpT35orM8FzR97ka+PPPm3XD2kEAl3Rd8epSmQVmpzWkBNfAXxnuQ4/faFDnvEYsBB1CMl4+wx3nFSKyLJ0YE=</Modulus><Exponent>AQAB</Exponent></RSAKeyValue>')
SET IDENTITY_INSERT [dbo].[PlanetKeys] OFF
GO
SET IDENTITY_INSERT [dbo].[Planets] ON 

INSERT [dbo].[Planets] ([idPlanet], [CodePlanet], [DescPlanet], [idSector], [long], [lat], [parsecs], [idNatives], [idFiliation], [PlanetPicture], [IPPlanet], [PortPlanet], [PortPlanet1]) VALUES (1, N'0000OUTTAKO', N'Takodana', 1, N'82342', N'37542', N'123212', 1, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Planets] ([idPlanet], [CodePlanet], [DescPlanet], [idSector], [long], [lat], [parsecs], [idNatives], [idFiliation], [PlanetPicture], [IPPlanet], [PortPlanet], [PortPlanet1]) VALUES (2, N'0000INRINABO', N'Naboo', 2, N'66598', N'54321', N'78654', 4, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Planets] ([idPlanet], [CodePlanet], [DescPlanet], [idSector], [long], [lat], [parsecs], [idNatives], [idFiliation], [PlanetPicture], [IPPlanet], [PortPlanet], [PortPlanet1]) VALUES (3, N'0000INRIDATH', N'Dathomir', 3, N'14555', N'98536', N'67546', 5, 2, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Planets] OFF
GO
SET IDENTITY_INSERT [dbo].[Priority] ON 

INSERT [dbo].[Priority] ([idPriority], [CodePriority], [DescPriority]) VALUES (1, N'220', N'Normal Order')
INSERT [dbo].[Priority] ([idPriority], [CodePriority], [DescPriority]) VALUES (2, N'22E', N'Urgent Order')
SET IDENTITY_INSERT [dbo].[Priority] OFF
GO
SET IDENTITY_INSERT [dbo].[References] ON 

INSERT [dbo].[References] ([idReference], [codeReference], [descReference], [Photo], [VideoExplode]) VALUES (1, N'841001009689', N'X-Wings T-65 DAM', N'H3257-L96343217.jpg', NULL)
INSERT [dbo].[References] ([idReference], [codeReference], [descReference], [Photo], [VideoExplode]) VALUES (2, N'841001009692', N'Y-Wings D302', N'Y-Wing-Fighter.jpeg', NULL)
INSERT [dbo].[References] ([idReference], [codeReference], [descReference], [Photo], [VideoExplode]) VALUES (3, N'741001009689', N'Advanced TIE-Fighter', NULL, NULL)
SET IDENTITY_INSERT [dbo].[References] OFF
GO
SET IDENTITY_INSERT [dbo].[Regions] ON 

INSERT [dbo].[Regions] ([idRegion], [CodeRegion], [DescRegion], [Remarks]) VALUES (1, N'DECO', N'Deep Core', N'At the very heart of the galaxy, the Deep Core was a region that spanned seven thousand light years, and contained roughly 30 billion stars. Due to the gravitational pull of the vast number of stars, as well as a massive black hole at the center, local space-time was severely warped, making hyperspace travel difficult at best.It''s dangerous to navigate, and few travellers venture this far coreward')
SET IDENTITY_INSERT [dbo].[Regions] OFF
GO
SET IDENTITY_INSERT [dbo].[Routes] ON 

INSERT [dbo].[Routes] ([idRoute], [CodeRoute], [DescRoute], [idPlanetOr], [idPlanetDest], [idRouteType]) VALUES (1, N'CORU', N'Corellian Run', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Routes] OFF
GO
SET IDENTITY_INSERT [dbo].[RouteTypes] ON 

INSERT [dbo].[RouteTypes] ([idRouteType], [CodeRouteType], [DescRouteType], [Remarks]) VALUES (1, N'MAJOR', N'Major hyperspace route', NULL)
INSERT [dbo].[RouteTypes] ([idRouteType], [CodeRouteType], [DescRouteType], [Remarks]) VALUES (2, N'MINOR', N'Minor hyperspace route', NULL)
SET IDENTITY_INSERT [dbo].[RouteTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Sectors] ON 

INSERT [dbo].[Sectors] ([idSector], [CodeSector], [DescSector], [Remarks], [idRegion]) VALUES (1, N'TASH', N'Tashtor', NULL, 6)
INSERT [dbo].[Sectors] ([idSector], [CodeSector], [DescSector], [Remarks], [idRegion]) VALUES (2, N'CHOM', N'Chrommell', NULL, 6)
INSERT [dbo].[Sectors] ([idSector], [CodeSector], [DescSector], [Remarks], [idRegion]) VALUES (3, N'QUEL', N'Quelli', NULL, 7)
SET IDENTITY_INSERT [dbo].[Sectors] OFF
GO
SET IDENTITY_INSERT [dbo].[SpaceShipCategories] ON 

INSERT [dbo].[SpaceShipCategories] ([idSpaceShipCategory], [CodeSpaceShipCategory], [DescSpaceShipCategory]) VALUES (1, N'CICA', N'Civil Cargo')
INSERT [dbo].[SpaceShipCategories] ([idSpaceShipCategory], [CodeSpaceShipCategory], [DescSpaceShipCategory]) VALUES (2, N'MICA', N'Militar Cargo')
INSERT [dbo].[SpaceShipCategories] ([idSpaceShipCategory], [CodeSpaceShipCategory], [DescSpaceShipCategory]) VALUES (3, N'MISS', N'Militar Space Ship')
SET IDENTITY_INSERT [dbo].[SpaceShipCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[SpaceShips] ON 

INSERT [dbo].[SpaceShips] ([idSpaceShip], [idSpaceShipType], [CodeSpaceShip], [IPSpaceShip], [PortSpaceShip], [PortSpaceShip1]) VALUES (4, 2, N'FC-G1SP', N'127.0.0.1', NULL, NULL)
INSERT [dbo].[SpaceShips] ([idSpaceShip], [idSpaceShipType], [CodeSpaceShip], [IPSpaceShip], [PortSpaceShip], [PortSpaceShip1]) VALUES (5, 1002, N'FC-G2SP', N'172.17.0.211', NULL, NULL)
INSERT [dbo].[SpaceShips] ([idSpaceShip], [idSpaceShipType], [CodeSpaceShip], [IPSpaceShip], [PortSpaceShip], [PortSpaceShip1]) VALUES (6, 2, N'FA-123', N'X-Wings DAM', NULL, NULL)
SET IDENTITY_INSERT [dbo].[SpaceShips] OFF
GO
SET IDENTITY_INSERT [dbo].[SpaceShipTypes] ON 

INSERT [dbo].[SpaceShipTypes] ([idSpaceShipType], [CodeSpaceShipType], [DescSpaceShipType], [idFiliation], [idSpaceShipCategory]) VALUES (2, N'RACA', N'Freight Space Cargo', 1, 1)
INSERT [dbo].[SpaceShipTypes] ([idSpaceShipType], [CodeSpaceShipType], [DescSpaceShipType], [idFiliation], [idSpaceShipCategory]) VALUES (1002, N'FACA', N'Figther Space Ships', 1, 1)
SET IDENTITY_INSERT [dbo].[SpaceShipTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Species] ON 

INSERT [dbo].[Species] ([idSpecie], [CodeSpecie], [DescSpecie]) VALUES (1, N'HUMA', N'Human')
INSERT [dbo].[Species] ([idSpecie], [CodeSpecie], [DescSpecie]) VALUES (2, N'WOOK', N'Wookiee')
INSERT [dbo].[Species] ([idSpecie], [CodeSpecie], [DescSpecie]) VALUES (3, N'BRAV', N'Bravaisian')
SET IDENTITY_INSERT [dbo].[Species] OFF
GO
SET IDENTITY_INSERT [dbo].[UserCategories] ON 

INSERT [dbo].[UserCategories] ([idUserCategory], [CodeCategory], [DescCategory], [AccessLevel]) VALUES (1, N'PILO', N'Pilot', 50)
INSERT [dbo].[UserCategories] ([idUserCategory], [CodeCategory], [DescCategory], [AccessLevel]) VALUES (2, N'ENGI', N'Engineer', 70)
INSERT [dbo].[UserCategories] ([idUserCategory], [CodeCategory], [DescCategory], [AccessLevel]) VALUES (3, N'JEDI', N'Jedi', 100)
SET IDENTITY_INSERT [dbo].[UserCategories] OFF
GO
INSERT [dbo].[UserOptions] ([idUser], [minLevel], [Descripcio], [Classe], [Formulari]) VALUES (N'1         ', N'20        ', N'Cerca', N'formsAuxiliars.dll', N'formsAuxiliars.frmSimple')
INSERT [dbo].[UserOptions] ([idUser], [minLevel], [Descripcio], [Classe], [Formulari]) VALUES (N'2         ', N'30        ', N'Gestió Espècies', N'formsAuxiliars.dll', N'formsAuxiliars.GestioSpecies')
INSERT [dbo].[UserOptions] ([idUser], [minLevel], [Descripcio], [Classe], [Formulari]) VALUES (N'3         ', N'30        ', N'Gestió Usuaris', N'formsAuxiliars.dll', NULL)
GO
SET IDENTITY_INSERT [dbo].[UserRanks] ON 

INSERT [dbo].[UserRanks] ([idUserRank], [CodeRank], [DescRank]) VALUES (1, N'CAPT', N'Captain')
INSERT [dbo].[UserRanks] ([idUserRank], [CodeRank], [DescRank]) VALUES (2, N'LIEU', N'Lieutenant')
INSERT [dbo].[UserRanks] ([idUserRank], [CodeRank], [DescRank]) VALUES (3, N'GENE', N'General')
SET IDENTITY_INSERT [dbo].[UserRanks] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([idUser], [CodeUser], [UserName], [Login], [Password], [idUserRank], [idUserCategory], [Photo], [idPlanet], [idSpecie]) VALUES (1, N'GUTW-138/9A', N'Guti StormLight', N'1', N'1', 1, 1, N'c:\temp\JediGutiDef.png', 1, 1)
INSERT [dbo].[Users] ([idUser], [CodeUser], [UserName], [Login], [Password], [idUserRank], [idUserCategory], [Photo], [idPlanet], [idSpecie]) VALUES (2, N'METX-199/3E', N'Isa Varelis', N'isa', N'hola', 3, 3, N'c:\temp\GutiPilot.png', 3, 2)
INSERT [dbo].[Users] ([idUser], [CodeUser], [UserName], [Login], [Password], [idUserRank], [idUserCategory], [Photo], [idPlanet], [idSpecie]) VALUES (3, N'NSDH-345/5A', N'Sergi carreras', NULL, NULL, 2, 1, NULL, 1, 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[DefinedRoutes]  WITH CHECK ADD  CONSTRAINT [FK_DefinedRoutes_Routes] FOREIGN KEY([idRoute])
REFERENCES [dbo].[Routes] ([idRoute])
GO
ALTER TABLE [dbo].[DefinedRoutes] CHECK CONSTRAINT [FK_DefinedRoutes_Routes]
GO
ALTER TABLE [dbo].[DeliveryData]  WITH CHECK ADD  CONSTRAINT [FK_DeliveryData_Planets] FOREIGN KEY([idPlanet])
REFERENCES [dbo].[Planets] ([idPlanet])
GO
ALTER TABLE [dbo].[DeliveryData] CHECK CONSTRAINT [FK_DeliveryData_Planets]
GO
ALTER TABLE [dbo].[DeliveryData]  WITH CHECK ADD  CONSTRAINT [FK_DeliveryData_SpaceShips] FOREIGN KEY([idSpaceShip])
REFERENCES [dbo].[SpaceShips] ([idSpaceShip])
GO
ALTER TABLE [dbo].[DeliveryData] CHECK CONSTRAINT [FK_DeliveryData_SpaceShips]
GO
ALTER TABLE [dbo].[InnerEncryption]  WITH CHECK ADD  CONSTRAINT [FK_InnerEncryption_Planets] FOREIGN KEY([idPlanet])
REFERENCES [dbo].[Planets] ([idPlanet])
GO
ALTER TABLE [dbo].[InnerEncryption] CHECK CONSTRAINT [FK_InnerEncryption_Planets]
GO
ALTER TABLE [dbo].[InnerEncryptionData]  WITH CHECK ADD  CONSTRAINT [FK_InnerEncryptionData_InnerEncryption] FOREIGN KEY([IdInnerEncryption])
REFERENCES [dbo].[InnerEncryption] ([idInnerEncryption])
GO
ALTER TABLE [dbo].[InnerEncryptionData] CHECK CONSTRAINT [FK_InnerEncryptionData_InnerEncryption]
GO
ALTER TABLE [dbo].[MilitaryCamps]  WITH CHECK ADD  CONSTRAINT [FK_MilitaryCamps_Planets] FOREIGN KEY([idPlanet])
REFERENCES [dbo].[Planets] ([idPlanet])
GO
ALTER TABLE [dbo].[MilitaryCamps] CHECK CONSTRAINT [FK_MilitaryCamps_Planets]
GO
ALTER TABLE [dbo].[OrderInfo]  WITH CHECK ADD  CONSTRAINT [FK_OrderInfo_Agencies] FOREIGN KEY([idAgency])
REFERENCES [dbo].[Agencies] ([idAgency])
GO
ALTER TABLE [dbo].[OrderInfo] CHECK CONSTRAINT [FK_OrderInfo_Agencies]
GO
ALTER TABLE [dbo].[OrderInfo]  WITH CHECK ADD  CONSTRAINT [FK_OrderInfo_OperationalAreas] FOREIGN KEY([idOperationalArea])
REFERENCES [dbo].[OperationalAreas] ([idOperationalArea])
GO
ALTER TABLE [dbo].[OrderInfo] CHECK CONSTRAINT [FK_OrderInfo_OperationalAreas]
GO
ALTER TABLE [dbo].[OrderInfo]  WITH CHECK ADD  CONSTRAINT [FK_OrderInfo_Orders] FOREIGN KEY([idOrder])
REFERENCES [dbo].[Orders] ([idOrder])
GO
ALTER TABLE [dbo].[OrderInfo] CHECK CONSTRAINT [FK_OrderInfo_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Factories] FOREIGN KEY([IdFactory])
REFERENCES [dbo].[Factories] ([idFactory])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Factories]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Priority] FOREIGN KEY([IdPriority])
REFERENCES [dbo].[Priority] ([idPriority])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Priority]
GO
ALTER TABLE [dbo].[OrdersDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrdersDetail_Orders] FOREIGN KEY([idOrder])
REFERENCES [dbo].[Orders] ([idOrder])
GO
ALTER TABLE [dbo].[OrdersDetail] CHECK CONSTRAINT [FK_OrdersDetail_Orders]
GO
ALTER TABLE [dbo].[OrdersDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrdersDetail_Planets] FOREIGN KEY([idPlanet])
REFERENCES [dbo].[Planets] ([idPlanet])
GO
ALTER TABLE [dbo].[OrdersDetail] CHECK CONSTRAINT [FK_OrdersDetail_Planets]
GO
ALTER TABLE [dbo].[OrdersDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrdersDetail_References] FOREIGN KEY([idReference])
REFERENCES [dbo].[References] ([idReference])
GO
ALTER TABLE [dbo].[OrdersDetail] CHECK CONSTRAINT [FK_OrdersDetail_References]
GO
ALTER TABLE [dbo].[PlanetKeys]  WITH CHECK ADD  CONSTRAINT [FK_PlanetKeys_Planets] FOREIGN KEY([idPlanet])
REFERENCES [dbo].[Planets] ([idPlanet])
GO
ALTER TABLE [dbo].[PlanetKeys] CHECK CONSTRAINT [FK_PlanetKeys_Planets]
GO
ALTER TABLE [dbo].[PlanetRoutes]  WITH CHECK ADD  CONSTRAINT [FK_PlanetRoutes_Planets] FOREIGN KEY([idPlanet])
REFERENCES [dbo].[Planets] ([idPlanet])
GO
ALTER TABLE [dbo].[PlanetRoutes] CHECK CONSTRAINT [FK_PlanetRoutes_Planets]
GO
ALTER TABLE [dbo].[PlanetRoutes]  WITH CHECK ADD  CONSTRAINT [FK_PlanetRoutes_Routes] FOREIGN KEY([idRoute])
REFERENCES [dbo].[Routes] ([idRoute])
GO
ALTER TABLE [dbo].[PlanetRoutes] CHECK CONSTRAINT [FK_PlanetRoutes_Routes]
GO
ALTER TABLE [dbo].[Planets]  WITH CHECK ADD  CONSTRAINT [FK_Planets_Filiations] FOREIGN KEY([idFiliation])
REFERENCES [dbo].[Filiations] ([idFiliation])
GO
ALTER TABLE [dbo].[Planets] CHECK CONSTRAINT [FK_Planets_Filiations]
GO
ALTER TABLE [dbo].[Planets]  WITH CHECK ADD  CONSTRAINT [FK_Planets_Sectors] FOREIGN KEY([idSector])
REFERENCES [dbo].[Sectors] ([idSector])
GO
ALTER TABLE [dbo].[Planets] CHECK CONSTRAINT [FK_Planets_Sectors]
GO
ALTER TABLE [dbo].[Planets]  WITH CHECK ADD  CONSTRAINT [FK_Planets_Species] FOREIGN KEY([idNatives])
REFERENCES [dbo].[Species] ([idSpecie])
GO
ALTER TABLE [dbo].[Planets] CHECK CONSTRAINT [FK_Planets_Species]
GO
ALTER TABLE [dbo].[Routes]  WITH CHECK ADD  CONSTRAINT [FK_Routes_RouteTypes] FOREIGN KEY([idRouteType])
REFERENCES [dbo].[RouteTypes] ([idRouteType])
GO
ALTER TABLE [dbo].[Routes] CHECK CONSTRAINT [FK_Routes_RouteTypes]
GO
ALTER TABLE [dbo].[Sectors]  WITH CHECK ADD  CONSTRAINT [FK_Sectors_Regions] FOREIGN KEY([idRegion])
REFERENCES [dbo].[Regions] ([idRegion])
GO
ALTER TABLE [dbo].[Sectors] CHECK CONSTRAINT [FK_Sectors_Regions]
GO
ALTER TABLE [dbo].[SpaceShips]  WITH CHECK ADD  CONSTRAINT [FK_SpaceShips_SpaceShipTypes] FOREIGN KEY([idSpaceShipType])
REFERENCES [dbo].[SpaceShipTypes] ([idSpaceShipType])
GO
ALTER TABLE [dbo].[SpaceShips] CHECK CONSTRAINT [FK_SpaceShips_SpaceShipTypes]
GO
ALTER TABLE [dbo].[SpaceShipTypes]  WITH CHECK ADD  CONSTRAINT [FK_SpaceShipTypes_Filiations] FOREIGN KEY([idFiliation])
REFERENCES [dbo].[Filiations] ([idFiliation])
GO
ALTER TABLE [dbo].[SpaceShipTypes] CHECK CONSTRAINT [FK_SpaceShipTypes_Filiations]
GO
ALTER TABLE [dbo].[SpaceShipTypes]  WITH CHECK ADD  CONSTRAINT [FK_SpaceShipTypes_SpaceShipCategories] FOREIGN KEY([idSpaceShipCategory])
REFERENCES [dbo].[SpaceShipCategories] ([idSpaceShipCategory])
GO
ALTER TABLE [dbo].[SpaceShipTypes] CHECK CONSTRAINT [FK_SpaceShipTypes_SpaceShipCategories]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Planets] FOREIGN KEY([idPlanet])
REFERENCES [dbo].[Planets] ([idPlanet])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Planets]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Species] FOREIGN KEY([idSpecie])
REFERENCES [dbo].[Species] ([idSpecie])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Species]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserCategories] FOREIGN KEY([idUserCategory])
REFERENCES [dbo].[UserCategories] ([idUserCategory])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserCategories]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserRanks] FOREIGN KEY([idUserRank])
REFERENCES [dbo].[UserRanks] ([idUserRank])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserRanks]
GO
