<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--PC Paski-->
    <add name="SecureCorePaski" connectionString="Data Source=WHITEWOLF\SQLEXPRESS;Initial Catalog=SecureCore;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--PC Gerard-->
    <add name="SecureCoreGerard" connectionString="Data Source=Ribes\SQLEXPRESS;Initial Catalog=SecureCore;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--PC Carlos-->
    <add name="SecureCoreCarlos" connectionString="Data Source=DESKTOP-SVU78TJ\SQLEXPRESS;Initial Catalog=SecureCore;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--PC Oriol-->
    <add name="SecureCoreOriol" connectionString="Data Source=ORIOL\SQLEXPRESS_ORIOL;Initial Catalog=SecureCore;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--UserCategories & Sectors Paski-->
	  <add name="UserCategoriesEntities" connectionString="metadata=res://*/UserCategory.csdl|res://*/UserCategory.ssdl|res://*/UserCategory.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=whitewolf\SQLEXPRESS;initial catalog=SecureCore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="SectorsEntities" connectionString="metadata=res://*/Sectors.csdl|res://*/Sectors.ssdl|res://*/Sectors.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=whitewolf\SQLEXPRESS;initial catalog=SecureCore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  
    <!--UserCategories & Sectors Carlos
	  <add name="UserCategoriesEntities" connectionString="metadata=res://*/UserCategory.csdl|res://*/UserCategory.ssdl|res://*/UserCategory.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SVU78TJ\SQLEXPRESS;initial catalog=SecureCore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="SectorsEntities" connectionString="metadata=res://*/Sectors.csdl|res://*/Sectors.ssdl|res://*/Sectors.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SVU78TJ\SQLEXPRESS;initial catalog=SecureCore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  -->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>