<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<!--PC Paski-->
		<add name="SecureCorePaski"
            connectionString="Data Source=WHITEWOLF\SQLEXPRESS;Initial Catalog=SecureCore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		<!--PC Gerard-->
		<add name="SecureCoreGerard"
            connectionString="Data Source=Ribes\SQLEXPRESS;Initial Catalog=SecureCore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		<!--PC Carlos-->
		<add name="SecureCoreCarlos"
            connectionString="Data Source=DESKTOP-SVU78TJ\SQLEXPRESS;Initial Catalog=SecureCore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		<!--PC Oriol-->
		<add name="SecureCoreOriol"
            connectionString="Data Source=ORIOL\SQLEXPRESS_ORIOL;Initial Catalog=SecureCore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>